atom/.atom-socket-secret-*
atom/github.cson
atom/recovery/
config/configstore/
config/iterm2/
config/karabiner/assets/
config/karabiner/automatic_backups/*
config/mpv/watch_later
config/mpv/watch_later/*
config/thefuck/
config/yarn/
vim/vim/bundle/*
