"*":
  "exception-reporting": {}
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "welcome"
      "editor-stats"
      "symbols-view"
      "symbols-tree-view"
      "atom-pair"
      "emmet"
      "git-plus"
      "git-tab-status"
      "atom-color-highlight"
      "language-scheme"
      "linter-coffeelint"
      "merge-conflicts"
      "minimap"
      "minimap-highlight-selected"
      "mocha-test-runner"
      "metrics"
      "feedback"
      "exception-reporting"
    ]
    followSymlinks: true
  editor:
    invisibles: {}
    softWrap: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    fontSize: 14
    lineHeight: 1.2
    tabLength: 4
  "filetype-color":
    enabled: "false"
  linter: {}
  "terminal-status": {}
  "atom-beautify":
    analytics: false
    muteUnsupportedLanguageErrors: true
    language_coffeescript_beautify_on_save: true
    language_css_beautify_on_save: true
    language_csv_beautify_on_save: true
    language_html_beautify_on_save: true
    language_js_beautify_on_save: true
    language_json_beautify_on_save: true
    language_scss_beautify_on_save: true
    language_ruby_disabled: true
    language_python_beautify_on_save: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule: {}
  emmet: {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  minimap:
    plugins:
      "highlight-selected": true
  "atom-ctags": {}
  "atom-pair": {}
  "atom-color-highlight": {}
  "linter-jshint": {}
  "vim-surround": {}
  autosave:
    enabled: true
  script:
    scrollWithOutput: false
