"*":
  "exception-reporting":
    userId: "8d289f1b-e66f-8977-da87-f5d38ec84d91"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "welcome"
      "editor-stats"
      "symbols-view"
      "symbols-tree-view"
    ]
    followSymlinks: true
  editor:
    invisibles: {}
    softWrap: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    fontSize: 14
    lineHeight: 1.2
    tabLength: 4
  "filetype-color":
    enabled: "false"
  linter: {}
  "terminal-status": {}
  "atom-beautify":
    beautifyOnSave: true
    analytics: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule: {}
  emmet: {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  minimap:
    plugins:
      "highlight-selected": true
