"*":
  "atom-beautify":
    coffeescript:
      beautify_on_save: true
    css:
      beautify_on_save: true
    csv:
      beautify_on_save: true
    general:
      _analyticsUserId: "022a5e4b-9d06-44c9-abbf-a13d27a607d3"
      analytics: false
      muteUnsupportedLanguageErrors: true
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
      end_with_comma: true
    json:
      beautify_on_save: true
    python:
      beautify_on_save: true
    ruby:
      disabled: true
    scss:
      beautify_on_save: true
  "atom-color-highlight": {}
  "atom-ctags": {}
  "atom-pair": {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
    includeCompletionsFromAllBuffers: true
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "atom-color-highlight"
      "atom-ctags"
      "color-picker"
      "editor-stats"
      "exception-reporting"
      "feedback"
      "git-plus"
      "git-tab-status"
      "language-scheme"
      "linter-coffeelint"
      "metrics"
      "merge-conflicts"
      "minimap-highlight-selected"
      "mocha-test-runner"
      "symbols-tree-view"
      "symbols-view"
      "terminal-status"
      "welcome"
      "terminal-status"
      "atom-pair"
      "pigments"
      "minimap"
      "react"
      "language-coffee-script"
      "linter-jshint"
      "dash"
      "jshint"
      "project-manager"
      "github"
      "open-on-github"
      "angularjs"
      "emmet"
      "editorconfig"
      "background-tips"
      "language-babel"
      "linter-ui-default"
      "about"
      "todo-show"
      "language-ruby-on-rails"
      "language-ruby"
      "language-toml"
    ]
    followSymlinks: true
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting": {}
  "filetype-color":
    enabled: "false"
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule: {}
  linter: {}
  "linter-jshint": {}
  "linter-ui-default": {}
  minimap:
    plugins:
      "highlight-selected": true
  script:
    scrollWithOutput: true
  "terminal-status": {}
  "todo-show":
    sortBy: "Path"
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
