# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Leetcode Dummy Link Node':
    'prefix': 'ldln'
    'body': """
      var dummy = new ListNode(null);
      var tail = dummy;
      var p = head;
    """

  'Leetcode Link Node Defination':
    'prefix': 'lln'
    'body': """
      function ListNode(val) {
        this.val = val;
        this.next = null;
      }
    """

  'Leetcode Pass Result':
    'prefix': 'lpass'
    'body': """
      /**
       * Memo: $3
       * Complex: O($4)
       * Runtime: $5ms
       * Tests: $1 test cases passed
       * Rank: ${2:S}
       */
    """

  'Leetcode Result':
    'prefix': 'lresult'
    'body': """
      var result = ${1:[]};
      $2
      return result;
    """

  'Leetcode Test Cases':
    'prefix': 'ltest'
    'body': """
      var should = require('should');
      console.time('Runtime');
      $1($2).should.equal($3);

      console.timeEnd('Runtime');
    """

  'Leetcode Tree Node Defination':
    'prefix': 'ltn'
    'body': """
      function TreeNode(val) {
        this.val = val;
        this.left = this.right = null;
      }
    """

  'Leetcode Util':
    'prefix': 'lutil'
    'body': 'var util = require("./util.js");'
